<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxt.dao.DictTypeMapper">
    
    <resultMap id="BaseResultMap" type="com.mxt.bean.DictType">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="update_time" jdbcType="INTEGER" property="updateTime" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from dict_type
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.mxt.bean.DictType">
        insert into dict_type (id, name, remark, update_time)
        values (#{id,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR},
                #{remark,jdbcType=VARCHAR},
                #{updateTime,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.mxt.bean.DictType">
        update dict_type
        set name        = #{name,jdbcType=VARCHAR},
            remark      = #{remark,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.mxt.bean.DictType">
        update dict_type
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, name, remark, update_time
        from dict_type
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, name, remark, update_time
        from dict_type
    </select>
    
    <select id="selectByPara" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from dict_type
        where 1 = 1
        <if test="para!=null">
            ${para}
        </if>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="page!=null">
            ${page}
        </if>
    </select>
    
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*)
        from dict_type
    </select>
</mapper>